# Database
DATABASE_URL="postgresql://user:password@db:5432/subsolo?schema=public"
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=subsolo

# Backend
PORT=3001
JWT_SECRET=your_secret_here

# Frontend
VITE_API_URL=http://localhost:3001
